.flex-center { display: flex; align-items: center; justify-content: center; }
.b-4 { bottom: 1rem; position: absolute; }
.r-4 { right: 1rem; position: absolute; }
.z-9999 { z-index: 9999; }
.w-72 { width: 18rem; }
